<!DOCTYPE html>
<html>
<head>
  <title>MiniEventBrite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="<%=new_invitation_url%>">Create New Invitation</a>
<a href="<%=new_event_url%>">Create New Event</a>
<a href="<%=events_url%>">Events</a>
<a href="<%=people_url%>">Users</a>
<%= yield %>

</body>
</html>
